---
---

.wrapper {
  width:960px;
  margin:0 auto;
}

header {
  width:180px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:690px;
  float:right;
  padding-bottom:50px;
}

footer {
  width:180px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}



ul.socials {
  width: 210px;
  bottom: -40px;
  right: 0;
  height: 70px;
}

.linkedin {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  background: url(../img/sunflowers.png);
}

.linkedin:hover {
  background: url(../img/sunflowers.png);
}

@import "{{ site.theme }}";
