---
---

.wrapper {
  width:960px;
  margin:0 auto;
}

header {
  width:200px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:690px;
  float:right;
  padding-bottom:50px;
}

footer {
  width:200px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}


@import "{{ site.theme }}";


ul.socials {
  width: 200px;
  height: 50px;
  z-index: 10;
  right: 0;
  /* float:left; */
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
}

.gitprof {
  display: inline-block;
  float: left;
  width: 45px;
  height: 45px;
  margin: 7px;
  background: url(../img/Octicons-mark-github.svg) no-repeat center/100%;

}

.linkedin {
  display: inline-block;
  float: left;
  width: 45px;
  height: 45px;
  margin: 7px;
  background: url(../img/linkedin-original.svg) no-repeat center/100%;
}

.mailto {
  display: inline-block;
  float: left;
  width: 45px;
  height: 45px;
  margin: 7px;
  background: url(../img/mail-with-circle-svgrepo-com.svg) no-repeat center/100%;
}

/*
.linkedin:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.gitprof:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.mailto:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}
*/

