---
---

.wrapper {
  width:960px;
  margin:0 auto;
}

header {
  width:180px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:690px;
  float:right;
  padding-bottom:50px;
}

footer {
  width:180px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}



ul.socials {
  width: 210px;
  z-index: 10;
  right: 0;
  height: 70px;
}

.linkedin {
  display: block;
  float: left;
  width: 200px;
  height:70px;
  background: url(../img/linkedin-original.svg) no-repeat;
}

.linkedin:hover {
  width: 200px;
  height:70px;
  background: url(../img/linkedin.svg) no-repeat;
}

@import "{{ site.theme }}";
